# Basic SQL

In [ ]:
# Basic SQL

To create table >>> CREATE TABLE
Create Table Employee_salary
To define coloumn >>> (Column varchar, Column int)
( Employee_ID varchar(50) )
To add data in table >>> INSERT TO VALUES
(101, 'Jim', 20)

In [ ]:
#Select Statement

* >>> select the table
Select * A Table

no * >>> select some column
select xxx from table >>> select xxx column from table

Top >>> top rows of the table
select top 3 * A table

Distinct >>> unique value in the column
select distinct(Employee_ID) from A Table

Count >>> count the number of data in the column
select count(name) from A Table

As >>> name the selected column
select count(name) from A Table as AAAAA

Max >>> find the maximum value in the column
select max(salary) from A Table

Min >>> find the minimum value in the column
select min(salary) from A Table

Avg >>> find the average value in the column
select avg(salary) from A Table

In [ ]:
# Where Statement

= >>> display the value that fits for the condition
select * from A Table
where name = 'x'

<> >>> display the value that does NOT fit for the condition
select * from A Table
where name <> 'x'

<   >>> display the value that is LESS THAN the condition
select * from A Table
where age < 50

>   >>> display the value that is MORE THAN the condition
select * from A Table
where age > 50

And >>> display both TRUE conditions
Select * from A Table
Where age = '5' AND gender = 'Female'

Or >>> display either True
Select * from A Table
Where age = '5' OR gender = 'Female'

Like >>> similar value
Select * from A Table
WHERE Lastname LIKE 'S%'
WHERE Lastname LIKE '%S'
WHERE Lastname LIKE '%S'
WHERE Lastname LIKE '%S%o'

Null >>> Find blank row
Select * A Table From A Table
WHERE name is NULL

Not null >>> no blank row
Select * A Table From A Table
WHERE name is NOT NULL

In >>> same as = but more conditions / values

In [ ]:
# Group by * Order by

Group by >>> group and order by count asc

Order by >>> order by asc, desc, column name, column number